@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.game-title {
  letter-spacing: 2px;
}

.game-container {
  height: 100vh;
  width:  100%;
  display: flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;
}

#game-board {
  display: grid;
  gap:     2px;
  grid-template-columns: repeat(3, 1fr);
}

.game-board-field {
  border: black solid 2px;
  height: 96px;
  width:  96px;
  padding: 1px;
}

.game-board-field:hover {
  cursor: pointer;
}

.game-board-field {
  display: flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;
}

.game-board-field-mark {
  font-weight: bolder;
  font-size: 32px;
}

#game-result-parent {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: lightslategray;
}

.game-queue-hint {
  width: 308px;
  text-align:  right;
  font-weight: bolder;
  font-size: 16px;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 0;
}

#game-queue-hint-symbol-x,
#game-queue-hint-symbol-o,
.game-queue-hint-separator {
  text-align:  center;
  width: 16px;
}

.game-queue-hint-separator {
  font-weight: normal;
}

.game-queue-hint-symbol-active {
  border: lightslategray 2px solid;
  border-radius: 20px;
}

.game-source-note {
  position: absolute;
  bottom:   0;
}

.game-source-note a {
  text-decoration: none;
}

.display-none {
  display: none;
}